{% style %}
  .product-meta__title.heading.h3 {
    font-family: DuPlay;
    font-weight: 700;
    font-size: 56px !important;
    vertical-align: middle;
    text-transform: uppercase;
  }
  .product__info .faq__item .collapsible-toggle
 {
    text-transform: uppercase;
}
.product.product--thumbnails-bottom{
    margin: 0 !important;
    padding: 0 !important;
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
}
  .product-form__option-selector {
    display: none;
  }

  span.product-form__quantity-label {
    display: none;
  }
  .product__thumbnail-item  .product__thumbnail {
    max-height: 74px;
}
  .product-meta p {
    font-family: DM Sans;
    font-weight: 300;
    font-size: 16px;
    vertical-align: middle;

  }

  .product-reviews-heading {
    font-family: DuPlay;
    font-weight: 700 !important;
    font-size: 40px !important;
    vertical-align: middle;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 0;
    line-height: 42px;
  }

  .review-slider-button {
    background: #fff !important;
    color: #DD3F21 !important;
    border: 1px solid #DD3F21 !important;
    padding: 0 !important;
    font-size: 18px !important;
    cursor: pointer;
    border-radius: 100px !important;
    user-select: none;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .heading.h2 {
    font-family: DuPlay;
    font-weight: 700;
    font-size: 64px;
    vertical-align: middle;
    padding: 0 15px;
    text-transform: uppercase;
  }

  .heading.h3 {
    font-family: DuPlay;
    font-weight: 700;
    font-size: 64px;
    padding: 0 15px;
    vertical-align: middle;
    letter-spacing: 2.56px;
    text-transform: uppercase;
  }

  .section__color-wrapper.section_wrapper {
    margin-top: 50px;
    padding: 0 15px;
  }

  .about-product-content h2 {
    font-family: DuPlay;
    font-weight: 700;
    font-size: 40px;
    vertical-align: middle;
    text-transform: uppercase;

  }

  .about-product-content .info-pair h4 {
    margin: 0;
    color: #0E0E0EA6;
    font-weight: 100 !important;
    font-size: 14px !important;
    vertical-align: middle;
  }

  .about-product-content .info-pair p {
    color: #0E0E0E;
    margin: 0;
    font-family: DM Sans;
    font-weight: 700 !important;
    font-size: 14px !important;
    vertical-align: middle;
  }

  .product-item-meta__title {
    margin-block-end: 4px;
    display: block;
    font-family: DM Sans;
    font-weight: 700;
    font-size: 18px;
    vertical-align: middle;
    text-transform: uppercase;
    text-align: left;
  }

  .product-item-meta__price-list-container {
    font-family: DM Sans;
    font-weight: 300;
    font-size: 16px;
    vertical-align: middle;
    text-transform: uppercase;
    text-align: left;
  }

  p.product-item-meta__color-count.text--small.text--subdued {
    display: none;
  }

  product-payment-container#MainPaymentContainer {
    position: relative;
  }

  button#AddToCart {
    border: 1px solid #DD3F21;
    background: none !important;
    color: #DD3F21;
    width: 70%;
    float: right !important;
    position: absolute;
    right: 0;
    top: -60px;
    border-radius: 100px !important;
    line-height: 46px;
  }
    .collapsible__content.text-container {
        font-size: 14px !important;
    }
  .quantity-selector {
    border: 1px solid #DD3F21 !important;
  }

  button.shopify-payment-button__button.shopify-payment-button__button--unbranded {
    background: #DD3F21 !important;
    border-radius: 100px !important;
  }
button.shopify-payment-button__button.shopify-payment-button__button--unbranded:hover{
  background: #dd3f2175 !important
}
  .product-meta {
    border-bottom: none !important;
    margin: 0 !important;
    padding-block-end: 0px;
    display: block;
  }

  .product-meta p {
    font-family: DM Sans;
    font-weight: 300;
    font-size: 16px;
    vertical-align: middle;
  }

  .product-meta .price--large {
    font-family: DM Sans;
    font-weight: 500;
    font-size: 28px !important;
    vertical-align: middle;
    text-transform: uppercase;
  }
    .product-form__payment-container {
        margin-block-start: -4px !important;
    }
  .product__thumbnail-scroll-shadow{
    background: none  !important;
    --scroll-shadow-right: none !important;
        --scroll-shadow-top: none !important;
  }
  @media screen and (max-width: 1000px) {
    .product-meta__title.heading.h3 {
      font-size: 40px;
    }
    .product__thumbnail-scroll-shadow{
    background: none  !important;
    box-shadow: none !important;
  }
    .quantity-selector {
        width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
    product-payment-container#MainPaymentContainer{
    position: relative;
    margin-top: 58px !important;
    }
    button#AddToCart {
    width: 100% !important;
    }
    .quantity-selector button.quantity-selector__button {
        width: 100%; 
    }
    .quantity-selector .quantity-selector__input {
      width: 100%;
      }
       .section_area .faq__wrapper {
        padding: 0 !important;
    }
    .section_area .faq__item {
        padding: 0 !important;
    }
    .heading.h3 {
        font-size: 28px !important;
        padding: 0px;
    }
    .product__thumbnail {
        width: 40px !important;
        min-width: 40px !important;
    }
  }
  .shopify-section
 {
    padding: 0 15px !important;
    max-width: 1376px !important;
    margin: 0 auto !important;
}
    @media screen and (max-width: 767px) {
      .product.product--thumbnails-bottom {
    grid-template-columns: 1fr !important;
}
       .product-meta__title.heading.h3 {
      font-size: 28px !important;
    }
    .quantity-selector {
        width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
    product-payment-container#MainPaymentContainer{
    position: relative;
    margin-top: 58px !important;
    }
    button#AddToCart {
    width: 100% !important;
    }
    .quantity-selector button.quantity-selector__button {
        width: 100%; 
    }
    .quantity-selector .quantity-selector__input {
      width: 100%;
      }
       .section_area .faq__wrapper {
        padding: 0 !important;
    }
    .section_area .faq__item {
        padding: 0 !important;
    }
      
    .heading.h3 {
        font-size: 28px !important;
        padding: 0px;
    }
    .product__thumbnail {
        width: 40px !important;
        min-width: 40px !important;
    }
      .hidden-phone{
        display: inline-grid !important;
      }
      .product-sticky-form:hover {
        display: none;
    }
      button.product-meta__share-label.link.hidden-tablet-and-up {
          display: none !important;
      }
    }
{% endstyle %}
<style>
  #shopify-section-{{ section.id }} {
    {%- assign buy_buttons_block = section.blocks | where: 'type', 'buy_buttons' | first -%}

    {%- if buy_buttons_block.settings.show_payment_button -%}
      {%- if buy_buttons_block.settings.atc_button_background == 'rgba(0,0,0,0)' -%}
        {%- assign secondary_button_background = settings.secondary_button_background -%}
      {%- else -%}
        {%- assign secondary_button_background = buy_buttons_block.settings.atc_button_background -%}
      {%- endif -%}

      {%- if buy_buttons_block.settings.atc_button_text_color == 'rgba(0,0,0,0)' -%}
        {%- assign secondary_button_text_color = settings.secondary_button_text_color -%}
      {%- else -%}
        {%- assign secondary_button_text_color = buy_buttons_block.settings.atc_button_text_color -%}
      {%- endif -%}

      {%- if buy_buttons_block.settings.buy_now_button_background == 'rgba(0,0,0,0)' -%}
        {%- assign primary_button_background = settings.primary_button_background -%}
      {%- else -%}
        {%- assign primary_button_background = buy_buttons_block.settings.buy_now_button_background -%}
      {%- endif -%}

      {%- if buy_buttons_block.settings.buy_now_button_text_color == 'rgba(0,0,0,0)' -%}
        {%- assign primary_button_text_color = settings.primary_button_text_color -%}
      {%- else -%}
        {%- assign primary_button_text_color = buy_buttons_block.settings.buy_now_button_text_color -%}
      {%- endif -%}
    {%- else -%}
      {%- if buy_buttons_block.settings.atc_button_background == 'rgba(0,0,0,0)' -%}
        {%- assign primary_button_background = settings.primary_button_background -%}
      {%- else -%}
        {%- assign primary_button_background = buy_buttons_block.settings.atc_button_background -%}
      {%- endif -%}

      {%- if buy_buttons_block.settings.atc_button_text_color == 'rgba(0,0,0,0)' -%}
        {%- assign primary_button_text_color = settings.primary_button_text_color -%}
      {%- else -%}
        {%- assign primary_button_text_color = buy_buttons_block.settings.atc_button_text_color -%}
      {%- endif -%}
    {%- endif -%}

    --primary-button-background: {{ primary_button_background.red }}, {{ primary_button_background.green }}, {{ primary_button_background.blue }};
    --primary-button-text-color: {{ primary_button_text_color.red }}, {{ primary_button_text_color.green }}, {{ primary_button_text_color.blue }};
    --secondary-button-background: {{ secondary_button_background.red }}, {{ secondary_button_background.green }}, {{ secondary_button_background.blue }};
    --secondary-button-text-color: {{ secondary_button_text_color.red }}, {{ secondary_button_text_color.green }}, {{ secondary_button_text_color.blue }};
  }
</style>

{%- capture product_form_id -%}product-form-main-{{ product.id }}-{{ section.id }}{%- endcapture -%}

<section>
  {%- if section.settings.show_sticky_add_to_cart and product.available -%}
    {%- render 'product-sticky-form', product: product, product_form_id: product_form_id -%}
  {%- endif -%}

  <div class="container">
    <!-- PRODUCT TOP PART -->
  {% unless featured %}
      <h1 class="product-meta__title heading h3" style="padding-top: 70px">{{ product.title }}</h1>
    {% else %}
      <h2 class="product-meta__title heading h3">
        <a href="{{ product.url }}">{{ product.title }}</a>
      </h2>
    {% endunless %}
    <product-rerender id="product-info-{{ product.id }}-{{ section.id }}" observe-form="{{ product_form_id }}" allow-partial-rerender>
      <div class="product product--thumbnails-{{ section.settings.desktop_thumbnails_position }}">
        {%- render 'product-media', product: product, product_form_id: product_form_id -%}
        {%- render 'product-info', product: product, product_form_id: product_form_id, update_url: true -%}
      </div>
    </product-rerender>
  </div>
</section>


{%- comment -%}
The quick shop HTML being very different, we render it here. On mobile and tablet/desktop, the product renders also
quite differently, as it is in a drawer on tablet/desktop, and a popover on mobile.
{%- endcomment -%}

{%- render 'product-quick-buy', product: product -%}

{% schema %}
{
  "name": "Product page",
  "class": "shopify-section--main-product",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "variant_picker",
      "name": "Variant picker",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "hide_sold_out_variants",
          "label": "Hide sold out variants",
          "default": false
        },
        {
          "type": "select",
          "id": "selector_mode",
          "label": "Selector type",
          "options": [
            {
              "value": "block",
              "label": "Block"
            },
            {
              "value": "dropdown",
              "label": "Dropdown"
            }
          ],
          "default": "block"
        },
        {
          "type": "select",
          "id": "color_mode",
          "label": "Color selector type",
          "info": "Enable [swatches](https://help.shopify.com/en/manual/online-store/themes/theme-structure/theme-settings#options-with-swatches) on product options.",
          "options": [
            {
              "value": "swatch",
              "label": "Swatch"
            },
            {
              "value": "none",
              "label": "None"
            }
          ],
          "default": "swatch"
        },
        {
          "type": "text",
          "id": "variant_image_options",
          "label": "Show variant image for options"
        },
        {
          "type": "page",
          "id": "size_chart_page",
          "label": "Size chart page",
          "info": "Feature a page for size option"
        }
      ]
    },
    {
      "type": "quantity_selector",
      "name": "Quantity selector",
      "limit": 1
    },
    {
      "type": "volume_pricing",
      "name": "Volume pricing table",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Volume pricing is only available to Shopify Plus merchants. [Learn more](https://help.shopify.com/en/manual/b2b/catalogs/quantity-pricing#volume-pricing)"
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "Buy buttons",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_payment_button",
          "label": "Show dynamic checkout button",
          "info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_gift_card_recipient",
          "label": "Show recipient information form for gift card products",
          "info": "Gift card products can optionally be sent directly to a recipient along with a personal message. [Learn more](https://help.shopify.com/manual/online-store/themes/customizing-themes/add-gift-card-recipient-fields)",
          "default": true
        },
        {
          "type": "color",
          "id": "atc_button_background",
          "label": "Add to cart background",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "atc_button_text_color",
          "label": "Add to cart color",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "buy_now_button_background",
          "label": "Buy now background",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "buy_now_button_text_color",
          "label": "Buy now color",
          "default": "rgba(0,0,0,0)"
        }
      ]
    },
    {
      "type": "description",
      "name": "Description",
      "limit": 1
    },
    {
      "type": "inventory",
      "name": "Inventory",
      "limit": 1,
      "settings": [
        {
          "type": "range",
          "id": "low_inventory_threshold",
          "label": "Low inventory threshold",
          "info": "Use low stock color when quantity is below the threshold. Choose 0 to always show in stock.",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 0
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "select",
          "id": "image_alignment",
          "label": "Alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 500,
          "step": 10,
          "unit": "px",
          "label": "Width",
          "default": 150
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "settings": [
        {
          "type": "paragraph",
          "content": "Create link to your contact page, external marketplace..."
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "checkbox",
          "id": "stretch",
          "label": "Stretch button",
          "default": true
        },
        {
          "type": "color",
          "id": "background",
          "label": "Background",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text color",
          "default": "rgba(0,0,0,0)"
        }
      ]
    },
    {
      "type": "liquid",
      "name": "Custom Liquid",
      "settings": [
        {
          "type": "liquid",
          "id": "liquid",
          "label": "Liquid",
          "info": "Add app snippets or other Liquid code to create advanced customizations."
        }
      ]
    },
    {
      "type": "line_item_property",
      "name": "Line item property",
      "settings": [
        {
          "type": "paragraph",
          "content": "Line item properties are used to collect customization information for an item added to the cart."
        },
        {
          "type": "text",
          "id": "label",
          "label": "Label",
          "default": "Your label"
        },
        {
          "type": "select",
          "id": "type",
          "label": "Type",
          "options": [
            {
              "value": "text",
              "label": "Text"
            },
            {
              "value": "checkbox",
              "label": "Checkbox"
            }
          ],
          "default": "text"
        },
        {
          "type": "header",
          "content": "Text",
          "info": "Only applicable for line item property of type Text."
        },
        {
          "type": "checkbox",
          "id": "required",
          "label": "Required",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "allow_long_text",
          "label": "Allow long text",
          "default": false
        },
        {
          "type": "header",
          "content": "Checkbox",
          "info": "Only applicable for line item property of type Checkbox."
        },
        {
          "type": "text",
          "id": "checked_value",
          "label": "Checked value",
          "default": "Yes"
        },
        {
          "type": "text",
          "id": "unchecked_value",
          "label": "Unchecked value",
          "default": "No"
        },
      ]
    }
  ],
  "settings": [
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "Show vendor",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_sku",
      "label": "Show SKU",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_taxes_included",
      "label": "Show taxes included",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_product_rating",
      "label": "Show product rating",
      "info": "To display a rating, add a product rating app. [Learn more](https://help.shopify.com/en/manual/products/product-reviews/installation)",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_sticky_add_to_cart",
      "label": "Show sticky add to cart",
      "info": "Will be hidden if no Buy buttons block is added onto the page.",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": "Show share buttons",
      "default": true
    },
    {
      "type": "page",
      "id": "help_page",
      "label": "Help page",
      "info": "Feature a page to help your customers"
    },
    {
      "type": "header",
      "content": "Media"
    },
    {
      "type": "paragraph",
      "content": "Learn more about [media types](https://help.shopify.com/en/manual/products/product-media)"
    },
    {
      "type": "checkbox",
      "id": "enable_video_autoplay",
      "label": "Enable video autoplay",
      "info": "Video are muted automatically to allow autoplay",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "label": "Enable video looping",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_image_zoom",
      "label": "Enable image zoom",
      "info": "Zoom does not show video nor 3D models.",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_thumbnails_on_mobile",
      "label": "Show thumbnails on mobile",
      "default": false
    },
    {
      "type": "select",
      "id": "desktop_thumbnails_position",
      "label": "Desktop thumbnails position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ],
      "default": "bottom"
    },
    {
      "type": "select",
      "id": "transition_effect",
      "label": "Transition effect",
      "options": [
        {
          "value": "slide",
          "label": "Slide"
        },
        {
          "value": "fade",
          "label": "Fade"
        }
      ],
      "default": "slide"
    },
    
  ]
}
{% endschema %}
