{% style %}
.modal__content {
    max-width: 940px !important;
    max-height: 339px !important;
  }

  .model_area .newsletter-modal {
    align-items: center;
    display: grid;
    overflow: hidden;
    grid-template-columns: 227px 1fr;
  }
  .model-img{
    width: 230px;
    height: 286px;
    overflow: hidden;
     order: 1;
  }
  .model_area .model-img img {
    min-width: 227px !important;
    max-width: 227px !important;
  }

  .model_area .newsletter-modal__content {
    padding: 0 50px !important;
    order: 2;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .model_area form.form.newsletter-modal__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 15px;
  }

  .model_area .modal__content .input {
    margin: 0 !important;
  }

  .model_area .modal__content .input button {
    margin: 0 !important;
    width: 167px;
    height: 48px;
    border-radius: 100px !important;
    border: none;
    background: #DD3F21;
    color: #fff;
  }

  .model_area .modal__content .heading.h5 {
    font-family: DuPlay;
    font-weight: 700;
    font-size: 40px;
    vertical-align: middle;
    text-transform: uppercase;
    text-align: left;
    margin: 0;
  }

  .model_area .modal__content p {
    font-family: DM Sans;
    font-weight: 300;
    font-size: 16px;
    vertical-align: middle;
    text-align: left;
  }

  .model_area .input input {
    font-family: DM Sans;
    font-weight: 300;
    font-size: 18px;
    vertical-align: middle;
    border: 1px solid #DD3F21 !important;
  }

  .model_area input::placeholder {
    font-family: DM Sans;
    font-weight: 300;
    font-size: 18px;
    vertical-align: middle;
  }

  .input__field:focus,
  select:focus,
  #shopify-product-reviews .spr-form-input-text:focus,
  #shopify-product-reviews .spr-form-input-email:focus,
  #shopify-product-reviews .spr-form-input-textarea:focus {
    box-shadow: 0 0 0 1px rgb(0 0 0 / 0%) inset !important;
  }

  .model_area .modal__content .heading.h5::before {
    content: "10% OFF";
    color: red;
    position: absolute;
    left: 137px;
    background: #f2f0ea;
  }

  @media screen and (max-width: 991px) {
    .model_area .newsletter-modal {
      display: grid;
      flex-direction: row !important;
      grid-template-columns: 1fr;
    }

    .model_area .modal__content .heading.h5::before {
      content: "10% OFF";
      color: red;
      position: absolute;
      left: 99px;
      background: #f2f0ea;
    }
    .model-img{
        width: 100%;
        height: 286px;
        overflow: hidden;
        order: 2;
        object-fit: cover;
      }
    .model_area .newsletter-modal__content {
      padding: 15px 40px !important;
      order: 1;
    }

    .model_area form.form.newsletter-modal__form {
      display: block;
    }

    .model_area .modal__content .heading.h5 {
      font-size: 28px;
    }

    .model_area .modal__content p {
      font-size: 14px;
    }

    .model_area .modal__content {
      max-height: 100% !important;
    }

    .model_area .modal__content .input button {
      width: 100% !important;
      margin-top: 10px !important;
    }

    .model_area .newsletter-modal img {
      min-width: 100% !important;
      min-height: 240px !important;
    }

    .modal__content {
      max-height: 100% !important;
      max-width: 343px !important;
      margin: 0 auto;
    }
  }

  
{% endstyle %}
<style>
  [aria-controls="newsletter-popup"] {
    display: block; /* Allows to show the toggle icon in the header if the section is disabled */
  }
</style>

{%- if section.settings.image != blank -%}
  <style>
    @media screen and (max-width: 999px) {
      .modal__close-button {
        color: rgb(255, 255, 255);
      }
    }
  </style>
{%- endif -%}

{%- assign should_appear_automatically = false -%}

{%- unless section.settings.show_only_on_index and request.page_type != 'index' -%}
  {%- unless section.settings.show_only_for_visitors and customer -%}
    {%- assign should_appear_automatically = true -%}
  {%- endunless -%}
{%- endunless -%}

<modal-content section="{{ section.id }}" {% if section.settings.show_only_once %}only-once{% endif %} {% if should_appear_automatically %}apparition-delay="{{ section.settings.apparition_delay }}"{% endif %} id="newsletter-popup" class="modal model_area">
  <div class="modal__overlay"></div>

  <div class="modal__content">
    <button type="button" class="modal__close-button tap-area" data-action="close" title="{{ 'general.accessibility.close' | t | escape }}">
      {%- render 'icon' with 'close' -%}
    </button>

    <div class="newsletter-modal">
      <div class="model-img">
        {%- if section.settings.image != blank -%}
          {{- section.settings.image | image_url: width: section.settings.image.width | image_tag: loading: 'lazy', sizes: '(max-width: 740px) 100vw, 500px', widths: '300,400,500,600,700,800,900,1000', class: 'newsletter-modal__image' -}}
        {%- endif -%}
      </div>
      <div class="newsletter-modal__content">
        {%- if section.settings.title != blank -%}
          <h2 class="heading h5">{{ section.settings.title | escape }}</h2>
        {%- endif -%}

        {%- if section.settings.content != blank -%}
          {{- section.settings.content -}}
        {%- endif -%}

        {%- form 'customer', id: newsletter_id, class: 'form newsletter-modal__form' -%}
          {%- if form.posted_successfully? -%}
            <script>
              window.addEventListener('DOMContentLoaded', () => {
                document.getElementById('newsletter-popup').open = true;
              });
            </script>

            <div class="form__banner banner banner--success">
              <span class="banner__ribbon">{% render 'icon' with 'form-success' %}</span>
              <p class="banner__content">{{ 'general.newsletter.success' | t }}</p>
            </div>
          {%- else -%}
          {%- if form.errors -%}
            <div class="form__banner banner banner--error">
              <span class="banner__ribbon">{% render 'icon' with 'form-error' %}</span>
              <p class="banner__content">{{ form.errors.messages['email'] }}</p>
            </div>
          {%- endif -%}

          <input type="hidden" name="contact[tags]" value="newsletter">
          <input type="hidden" name="contact[context]" value="{{ newsletter_id }}">

            <div class="input">
              <input type="email" id="newsletter[{{ section.id }}][contact][email]" name="contact[email]" placeholder="{{ 'general.newsletter.email' | t }}" class="input__field" required>
              <!-- <label for="newsletter[{{ section.id }}][contact][email]" class="input__label">{{ 'general.newsletter.email' | t }}</label> -->
            </div>

            <div class="input">
              <button type="submit" is="loader-button" class="button button--primary button--full">{{ 'general.newsletter.subscribe' | t }}</button>
            </div>
          {%- endif -%}
        {%- endform -%}
      </div>
    </div>
  </div>
</modal-content>

{% schema %}
{
  "name": "Popup",
  "class": "shopify-section--popup",
  "settings": [
    {
      "type": "paragraph",
      "content": "Customers who subscribe will have their email address added to the \"accepts marketing\" [customer list](/admin/customers?query=&accepts_marketing=1)."
    },
    {
      "type": "range",
      "id": "apparition_delay",
      "min": 0,
      "max": 15,
      "step": 1,
      "unit": "sec",
      "label": "Delay until the popup appears",
      "default": 5
    },
    {
      "type": "checkbox",
      "id": "show_only_on_index",
      "label": "Show only on home page",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_only_for_visitors",
      "label": "Disable for account holders",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_only_once",
      "label": "Show once to visitors",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "1000 x 1000px .jpg recommended"
    },
    {
      "type": "select",
      "id": "image_position",
      "label": "Image position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Get 10% off"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Text",
      "default": "<p>Promotions, new products and sales. Directly to your inbox.</p>"
    }
  ]
}
{% endschema %}