{% style %}
cookie-bar.cookie-bar.text--xsmall {
    min-width: 494px;
    min-height: 286px;
}
 .cookie-bar p.heading.heading--xsmall {
    font-family: DM Sans;
    font-weight: 700;
    font-size: 24px;
    vertical-align: middle;
    text-transform: uppercase;
    margin: 0;
}
.cookie-bar p{
  font-family: DM Sans;
font-weight: 300;
font-size: 16px;
vertical-align: middle;

}
  .cookie-bar__actions button{
    width: 140px;
    height: 52px;
    padding: 0px 32px;
    background: #DD3F21;
    border: 1px solid #9D2204;
    font-family: DM Sans;
    font-weight: 700;
    font-size: 14px;
    vertical-align: middle;
    text-transform: uppercase;
  }
  .cookie-bar__actions button:last-child{
    background: #fff;
    color: #DD3F21;
  }
 @media screen and (max-width: 1000px) {
    cookie-bar.cookie-bar.text--xsmall {
        min-width: 86%;
        margin: 0 auto;
    }  
   .cookie-bar__actions button {
    width: 100%;
    margin-bottom: 20px;
}
   .cookie-bar__actions button:last-child{
    margin-bottom: 0px;
     margin-inline-start: 0  !important;
  }
}
  }
{% endstyle %}
<cookie-bar section="{{ section.id }}" hidden class="cookie-bar text--xsmall">
  {%- if section.settings.cookie_bar_title != blank -%}
    <p class="heading heading--xsmall">{{ section.settings.cookie_bar_title }}</p>
  {%- endif -%}

  {%- if section.settings.cookie_bar_content != blank -%}
    {{- section.settings.cookie_bar_content -}}
  {%- endif -%}

  <div class="cookie-bar__actions">
    <button class="button button--text button--primary button--small text--xsmall" data-action="accept-policy">{{ 'footer.cookie_bar.accept' | t }}</button>
    <button class="button button--text button--ternary button--small text--xsmall" data-action="decline-policy">{{ 'footer.cookie_bar.decline' | t }}</button>
  </div>
</cookie-bar>

{% schema %}
{
  "name": "Privacy banner",
  "class": "shopify-section--privacy-banner",
  "settings": [
    {
      "type": "paragraph",
      "content": "Using the theme privacy banner is deprecated. To ensure compliancy with existing and upcoming local regulations, merchants are encouraged to disable the theme banner and migrate to the [Shopify privacy banner](https://help.shopify.com/en/manual/privacy-and-security/privacy/customer-privacy-settings/privacy-settings#add-a-cookie-banner)."
    },
    {
      "type": "text",
      "id": "cookie_bar_title",
      "label": "Title",
      "default": "Cookie policy"
    },
    {
      "type": "richtext",
      "id": "cookie_bar_content",
      "label": "Content",
      "default": "<p>I agree to the processing of my data in accordance with the conditions set out in the policy of Privacy.</p>"
    }
  ]
}
{% endschema %}