{% style %}
  section.text-with-two-images{
        max-width: 1376px;
    margin: 0 auto;
  }
  section.text-with-two-images .grid.grid--3-col{
    display: flex; 
}
 .grid__item_text {
    max-width: 465px;
    transform: translateX(126px);
}
.grid__item_text h2 {
    font-weight: 700 !important;
    font-size: 64px !important;
    vertical-align: middle;
    text-transform: uppercase;
    margin: 0;
    line-height: 62px;
}
.grid__item_text p{
    font-weight: 300 !important;
    font-size: 18px !important;
    vertical-align: middle;
    margin: 0;
    max-width: 265px;
    color: #0E0E0E;
}
  .grid__item.tow
 {
    margin-top: 150px;
    margin-left: 30px;
}
  @media screen and (max-width: 992px) {
  .grid__item_text h2
   {
      font-size: 38px !important;
      line-height: 40px;
  }
}


@media screen and (max-width: 767px) {
  section.text-with-two-images .grid.grid--3-col {
    display: block;
  }
  .grid__item_text h2
   {
      font-size: 26px !important;
        line-height: 32px;
  }
    .grid__item_text {
    max-width: 70%  !important;
    transform: translateX(0px);
}
  .grid__item_text p {
    font-size: 14px !important;
    max-width: 100%;
}
  .grid__item{
        margin: 0 30px 30px 30px;
  }
  .grid__item.one {
    width: 49%;
    float: left;
    margin-right: 0;
}
  .grid__item.tow
 {
    width: 30%;
    float: right;
    margin-left: 0
   margin-top: 0px;
}
}
{% endstyle %}
<section class="text-with-two-images" style="padding: 90px 0;">
  <div class="page-width">
    <div class="grid grid--3-col" style="gap: 30px; align-items: center;">

      <!-- Text Column -->
      <div class="grid__item grid__item_text">
          {% if section.settings.heading != blank %}
            <h2>{{ section.settings.heading }}</h2>
          {% endif %}
          {% if section.settings.text != blank %}
            <p>{{ section.settings.text }}</p>
          {% endif %}
        </div>

      <!-- Image 1 -->
      <div class="grid__item one">
        {% if section.settings.image_1 %}
          <img
            src="{{ section.settings.image_1 | img_url: '800x' }}"
            alt="{{ section.settings.image_1.alt | escape }}"
            width="{{ section.settings.image_1.width }}"
            height="{{ section.settings.image_1.height }}"
            style="width: 100%; height: auto;"
          >
        {% endif %}
      </div>

      <!-- Image 2 -->
      <div class="grid__item tow">
        {% if section.settings.image_2 %}
          <img
            src="{{ section.settings.image_2 | img_url: '800x' }}"
            alt="{{ section.settings.image_2.alt | escape }}"
            width="{{ section.settings.image_2.width }}"
            height="{{ section.settings.image_2.height }}"
            style="width: 100%; height: auto;"
          >
        {% endif %}
      </div>

    </div>
  </div>
</section>

{% schema %}
{
  "name": "Text with Two Images",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "The Essence of Our Brand"
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "Text",
      "default": "it amet consectetur. Faucibus erat tellus mattis facilisis. Non ullamcorper dui arcu vitae nec est dui. Auctor tincidunt id ornare."
    },
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "Left Image"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Right Image"
    }
  ],
  "presets": [
    {
      "name": "Text with Two Images",
      "category": "About"
    }
  ]
}
{% endschema %}
